<div id="municipios">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Municípios Cadastrados</h3>

      <div class="box-tools">
        <%= link_to 'Novo Municipio', new_municipio_path, class: 'btn btn-primary btn-sm' %>
      </div>
    </div>

    <div class="box-body no-padding">
      <table class="table">
       <thead>
        <tr>
          <th width="30%">Nome</th>
          <th width="20%">Estado</th>
          <th width="50%" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @municipios.each do |municipio| %>
        <tr>
          <td><%= municipio.nome %></td>
          <td><%= municipio.estado.try(:nome) %></td>
          <td style="text-align: right">
            <%= link_to 'Editar', edit_municipio_path(municipio), class: 'btn btn-xs btn-success' %>
            <%= link_to 'Deletar', municipio, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="box-footer clearfix">
      <div class="kaminari">
        <%= paginate @municipios %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var loadingHTML =
    "<div class='box box-success'>"+
    "<div class='box-header'>"+
    "<h1 class='box-title'>GecampSYS</h1>"+
    "</div>"+
    "<div class='box-body'>"+
    "Carregando os dados do sistema"+
    "</div>"+
    "<div class='overlay'>"+
    "<i class='fa fa-refresh fa-spin'></i>"+
    "</div>"+
    "</div>"+
    "</div>";
    

    $(document.body).off('click', 'nav.pagination a');

    $(document.body).on('click', 'nav.pagination a', function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      $("#municipios").html(loadingHTML).load(url, function(){
        window.history.pushState(url, window.title, url);
      });
      return false;
    });

    $(window).bind('popstate', function(event) {
      var url = location.href;
      $("#municipios_container").html(loadingHTML).load(url);
    });

    
  });
</script>