<div id="pessoas">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Lista de Funções por Pessoa da Equipe</h3>

      <div class="box-tools">
      </div>
    </div>

    <div class="box-body no-padding">

    <% if @equipes.exists? %>
      <table class="table">
        <thead>
          <tr>
            <th width="45%">Nome</th>
            <th width="10%"></th>
            <th width="10%">Função</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @equipes.each do |pessoa| %>
          <tr>
            <td><%= pessoa.nome %></td>
            <td>
              <% if pessoa.acoes.count > 0 %>
                <span class="badge bg-purple">
                <strong><%= pessoa.acoes.count %></strong></span>
              <% else %>
                <span class="badge bg-black">
                &nbsp</span>
              <% end %>
              </td>
            <td><%= pessoa.funcao.try(:nome) %></td>
            <td style="text-align: right;">
              <%= link_to 'Exibir', pessoa_path(pessoa, :equipe => true), class: 'btn btn-xs btn-primary' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <div class="box-body">
        <div class="callout callout-danger">
          <h4>Não foram encontrados Resultados no Banco</h4>

          <p>Por favor, verifique os termos utilizados na busca.</p>
        </div>
        <%= link_to 'Pessoas', pessoas_path, class: 'btn btn-sm btn-primary' %>
      </div>
      <% end %>
    </div>
    <div class="box-footer clearfix">
        <div style="text-align: center; font-size: 12px;">
        <span class="badge bg-purple">&nbsp</span> ações
        <span class="badge bg-red">&nbsp</span> sem ações
      </div>
        <%= page_entries_info @equipes %>
      <div class="kaminari">
        <%= paginate @equipes %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(function() {
      var loadingHTML ="<div class='box box-success'><div class='box-header'><h1 class='box-title'>\
      GecampSYS</h1></div><div class='box-body'>Carregando os dados do sistema</div><div class='overlay'>\
      <i class='fa fa-refresh fa-spin'></i></div></div></div>";

      $(document.body).off('click', 'nav.pagination a');

      $(document.body).on('click', 'nav.pagination a', function(e) {
        e.preventDefault();
        var url = $(this).attr('href');
        $("#pessoas").html(loadingHTML).load(url, function(){
          window.history.pushState(url, window.title, url);
        });
        return false;
      });

      $(window).bind('popstate', function(event) {
        var url = location.href;
        $("#pessoas_container").html(loadingHTML).load(url);
      });
    });
  })
</script>