<div class="box-body">
  <%= form_with(model: carro, local: true) do |form| %>
<%= form.error_span(:pessoa_id) %>
  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :carro_nome, class: 'form-control input-sm' %>
    <%= form.error_span(:nome) %>
  </div>

  <div class="form-group">
    <%= form.label :cor %>
    <%= form.text_field :cor, id: :carro_cor, class: 'form-control input-sm' %>
    <%= form.error_span(:cor) %>
  </div>

  <div class="form-group">
    <%= form.label :placa %>
    <%= form.text_field :placa, id: :carro_placa, class: 'form-control input-sm' %>
    <%= form.error_span(:placa) %>
  </div>

  <div class="form-group">
    <%= form.label :observacoes %>
    <%= form.text_area :observacoes, id: :carro_observacoes, class: 'form-control input-sm' %>
  </div>

  <div class="form-group">
    <%= form.text_field :pessoa_id, id: :carro_pessoa_id %>
  </div>


  <div class="box-footer">
    <%= form.submit 'Salvar Registro', class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', '#', class: 'btn btn-warning' %>
  </div>
  <% end %>
</div>