<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @carro.nome %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @carro.cor %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @carro.placa %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @carro.observacoes %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @carro.pessoa %>
</p>

<p>
  <strong>User:</strong>
  <%= @carro.user %>
</p>

<%= link_to 'Edit', edit_carro_path(@carro) %> |
<%= link_to 'Back', carros_path %>
