<%- model_class = Pessoa -%>



<%= form_tag relatorios_path, method: 'get', :html => {:class => 'form-vertical'} do %>
<tr>
  <td>
    <div class="col-lg-5">
    <%= select_tag "indicado_por", options_from_collection_for_select(Pessoa.order(:nome), "id", "nome"), prompt: 'indicado por', :class => 'form-control' %>
    </div>
    <div class="col-lg-3">
      <%= submit_tag 'Pesquisar', class: 'btn btn-success' %>
      <% if @display_indicado_por == true %>
      <%= link_to "Gerar PDF", relatorios_path(params.merge(:format => "pdf")), :class => 'btn btn-primary active', :target => '_blank'%>
      <% end %>
    </div>
    <div class="col-lg-4">
      <span id="result_id"><%= @result_indicado_por %></span>
    </div>
  </td>
</tr>
<% end %>