<div class="box">
  <div class="box-header">
    <h3 class="box-title">Usuários Cadastrados</h3>

    <div class="box-tools">
      <%= link_to 'Novo Usuário', new_user_path, class: 'btn btn-sm btn-primary' %>
    </div>
  </div>

  <div class="box-body no-padding">
    <table class="table">
      <thead>
        <tr>
          <th width="25%">Nome</th>
          <th width="25%">Email</th>
          <th width="10%">Usuário</th>
          <th width="10%">Status</th>
          <th width="30%"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= user.status %></td>
          <td style="text-align: right;">
            <%= link_to 'Editar', edit_user_path(user), class: 'btn btn-xs btn-success' %>
            <%= link_to 'Deletar', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
