<div class="box-body">
  <%= form_with(model: pessoa, local: true, html: {:id => 'teste'}) do |form| %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <div class="row top-row">
    <div class="col-xs-12 col-sm-4">
      <%= form.label :nome %>
      <%= form.text_field :nome, id: :pessoa_nome, :placeholder => "Nome", class: 'form-control input-sm' %>
      <%= form.error_span(:nome) %>
    </div>

    <div class="col-xs-12 col-sm-4">
      <%= form.label :nome_social %>
      <%= form.text_field :nome_social, id: :pessoa_nome_social, :placeholder => "Nome Social", class: 'form-control input-sm' %>
      <%= form.error_span(:nome_social) %>
    </div>

    <div class="col-xs-12 col-sm-4">
      <%= form.label :pessoa_id, 'Indicado por' %>
      <%= render :partial => 'indicado_select2', :locals => {:form => form} %>
    </div>
  </div>

  <div class="row top-row">
    <div class="col-xs-12 col-sm-4">
      <%= form.label :endereco, 'Endereço' %>
      <%= form.text_field :endereco, id: :pessoa_endereco, :placeholder => 'Endereço', class: 'form-control input-sm' %>
      <%= form.error_span(:endereco) %>
    </div>

    <div class="col-xs-12 col-sm-2">
      <%= form.label :data_nascimento %>
      <%= form.text_field :data_nascimento, placeholder: 'Data nascimento', class: 'form-control datepicker' %>
      <%= form.error_span(:data_nascimento) %>
    </div>

    <div class="col-xs-12 col-sm-3">
      <%= form.label :seguimento_id %>
      <%= form.collection_select :seguimento_id, seguimentos, :id, :nome, prompt: 'Selecione...', class: 'form-control' %>
      <%= form.error_span(:seguimento_id) %>
    </div>

    <div class="col-xs-12 col-sm-3">
      <%= form.label :profissao_id, 'Profissão' %>
      <%= form.collection_select :profissao_id, profissoes, :id, :nome, prompt: 'Selecione...', class: 'form-control' %>
      <%= form.error_span(:profissao_id) %>
    </div>
  </div>

  <div class="row top-row">
    <div class="col-xs-11 col-sm-3">
      <%= form.label :estado_id %>
      <%= render :partial => 'pessoas_estados_select2', :locals => {:form => form} %>
      <%= form.error_span(:estado_id) %>
    </div>

    <div class="col-xs-11 col-sm-3">
      <%= form.label :municipio_id %>
      <%= render :partial => 'pessoas_municipios_select2', :locals => {:form => form} %>
      <%= form.error_span(:municipio_id) %>
    </div>

    <div class="col-xs-11 col-sm-3">
      <%= form.label :cidade_id %>
      <%= render :partial => 'pessoas_cidades_select2', :locals => {:form => form} %>
      <%= form.error_span(:cidade_id) %>
    </div>

    <div class="col-xs-11 col-sm-3">
      <%= form.label :bairro_id %>
      <%= render :partial => 'pessoas_bairros_select2', :locals => {:form => form} %>
      <%= form.error_span(:bairro_id) %>
    </div>
  </div>

  <div class="row top-row">
    <div class="col-xs-12 col-sm-2">
      <%= form.label :cep, 'CEP' %>
      <%= form.text_field :cep, id: :pessoa_cep, placeholder: '00.000-000', class: 'form-control input-sm cep' %>
    </div>

    <div class="col-xs-12 col-sm-4">
      <%= form.label :email %>
      <%= form.text_field :email, id: :pessoa_email, placeholder: 'E-mail', class: 'form-control input-sm' %>
      <%= form.error_span(:email) %>
    </div>

    <div class="col-xs-12 col-sm-3">
      <%= form.label :telefone_residencial %>
      <%= form.text_field :telefone_residencial, id: :pessoa_telefone_residencial, placeholder: 'Telefone', class: 'form-control input-sm telefone' %>
    </div>

    <div class="col-xs-12 col-sm-3">
      <%= form.label :celular %>
      <%= form.text_field :celular, id: :pessoa_celular, placeholder: 'Celular', class: 'form-control input-sm telefone' %>
    </div>
  </div>

  <div class="row top-row">
    <div class="col-xs-12 col-sm-2">
      <%= form.label :estado_civil %>
      <%= form.select :estado_civil, options_for_select([
        ['Solteiro(a)', 'Solteiro(a)'], 
        ['Casado(a)', 'Casado(a)'], 
        ['Outros', 'Outros']
        ], @pessoa.estado_civil), {prompt: 'Selecione...'}, {:class => 'form-control input-sm'} %>
        <%= form.error_span(:estado_civil) %>
      </div>

      <div class="col-xs-12 col-sm-2">
        <%= form.label :numero_de_filhos, 'Número de filhos' %>
        <%= form.number_field :numero_de_filhos, id: :pessoa_numero_de_filhos, class: 'form-control input-sm' %>
        <%= form.error_span(:numero_de_filhos) %>
      </div>

      <div class="col-xs-12 col-sm-2">
        <%= form.label :numero_de_dependentes, 'Número de dependentes' %>
        <%= form.number_field :numero_de_dependentes, id: :pessoa_numero_de_dependentes, class: 'form-control input-sm' %>
        <%= form.error_span(:numero_de_dependentes) %>
      </div>

      <div class="col-xs-12 col-sm-2">
        <%= form.label :sexo %>
        <%= form.select :sexo, options_for_select([
          ['Feminino', 'Feminino'], 
          ['Masculino', 'Masculino']
          ], @pessoa.sexo), {prompt: 'Selecione...'}, {:class => 'form-control input-sm'} %>
          <%= form.error_span(:sexo) %>
        </div>

        <div class="col-xs-12 col-sm-2">
          <%= form.label :cor %>
          <%= form.select :cor, options_for_select([
            ['Parda','Parda'], 
            ['Preta','Preta'], 
            ['Branca','Branca'], 
            ['Não declarada','Não declarada']
            ], @pessoa.cor), {prompt: 'Selecione...'}, {:class => 'form-control input-sm'} %>
            <%= form.error_span(:cor) %>
          </div>

          <div class="col-xs-12 col-sm-2">
            <%= form.label :renda_familiar %>
            <%= form.text_field :renda_familiar, id: :pessoa_renda_familiar, placeholder: '0.0', class: 'form-control input-sm' %>
          </div>
        </div>

        <div class="form-group top-row">
          <%= form.label :observacoes, 'Observações' %>
          <%= form.text_area :observacoes, id: :pessoa_observacoes, placeholder: 'Obervações', class: 'form-control input-sm' %>
        </div>

        <div class="box-footer">
          <%= form.submit 'Salvar Registro', class: 'btn btn-primary' %>
          <%= link_to 'Cancelar', pessoas_path, class: 'btn btn-danger' %>
        </div>
        <% end %>
      </div>
