<div id="pessoas">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Pessoas Cadastradas</h3>
      <div class="box-tools">
        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target=".busca_pessoas">
          Busca
        </button>
        <%= link_to 'Novo Cadastro', new_pessoa_path, class: 'btn btn-sm btn-primary' %>
      </div>
    </div>

    <div class="box-body no-padding">

    <% if @pessoas.exists? %>
      <table class="table">
        <thead>
          <tr>
            <th width="23%">Nome</th>
            <th width="27%">Endereco</th>
            <th width="10%">Cidade</th>
            <th width="10%">Telefone</th>
            <th width="10%">Celular</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @pessoas.each do |pessoa| %>
          <tr>
            <td><%= pessoa.nome %></td>
            <td>
              <% if pessoa.apoiador? == 'NÃO' %>
                <span class="badge bg-red">&nbsp</span>
              <% else %>
                <span class="badge bg-green">&nbsp</span>
              <% end %>
              <% if pessoa.visitado? <= 0 %>
                <span class="badge bg-orange">&nbsp</span>
              <% else %>
                <span class="badge bg-blue"><%= pessoa.visitado? %></span>
              <% end %>
              <% if pessoa.pesquisado? <= 0 %>
                <span class="badge bg-purple">&nbsp</span>
              <% else %>
                <span class="badge bg-brown"><%= pessoa.pesquisado? %></span>
              <% end %>&nbsp&nbsp
              <%= pessoa.endereco %>
            </td>
            <td><%= pessoa.cidade_(pessoa.cidade_id) %></td>
            <td><%= pessoa.telefone_residencial %></td>
            <td><%= pessoa.celular %></td>
            <td style="text-align: right;">



              <%= link_to 'Exibir', pessoa, class: 'btn btn-xs btn-success' %>
              <%= link_to 'Editar', edit_pessoa_path(pessoa), class: 'btn btn-xs btn-warning' %>
              <%= link_to 'Deletar', pessoa, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <div class="box-body">
        <div class="callout callout-danger">
          <h4>Não foram encontrados Resultados no Banco</h4>

          <p>Por favor, verifique os termos utilizados na busca.</p>
        </div>
        <%= link_to 'Pessoas', pessoas_path, class: 'btn btn-sm btn-primary' %>
      </div>
      <% end %>
    </div>
    <div class="box-footer clearfix">
      <div style="text-align: center; font-size: 12px;">
        <span class="badge bg-green">&nbsp</span> apoiador
        <span class="badge bg-red">&nbsp</span> não apoiador |
        <span class="badge bg-orange">&nbsp</span> não visitado
        <span class="badge bg-blue">&nbsp</span> visitado |
        <span class="badge bg-purple">&nbsp</span> não pesquisado
        <span class="badge bg-brown">&nbsp</span> pesquisado
      </div>
      <%= page_entries_info @pessoas %>
      <div class="kaminari">
        <%= paginate @pessoas %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade busca_pessoas" tabindex="-1" role="dialog">
  <div class="modal-dialog modal_dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sistema de Busca</h4>
      </div>
      <div class="modal-body">
        <%= form_tag pessoas_path, method: :get do %>
          <div class="input-group input-group-sm">
            <%= text_field_tag 'search', nil, required: true, placeholder: 'Informe um nome...', class: 'form-control' %>
            <span class="input-group-btn">
              <%= submit_tag 'Buscar', class: 'btn btn-primary btn-flat' %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
      <%= link_to 'Cancelar', pessoas_path, :class => "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(function() {
      var loadingHTML ="<div class='box box-success'><div class='box-header'><h1 class='box-title'>\
      GecampSYS</h1></div><div class='box-body'>Carregando os dados do sistema</div><div class='overlay'>\
      <i class='fa fa-refresh fa-spin'></i></div></div></div>";

      $(document.body).off('click', 'nav.pagination a');

      $(document.body).on('click', 'nav.pagination a', function(e) {
        e.preventDefault();
        var url = $(this).attr('href');
        $("#pessoas").html(loadingHTML).load(url, function(){
          window.history.pushState(url, window.title, url);
        });
        return false;
      });

      $(window).bind('popstate', function(event) {
        var url = location.href;
        $("#pessoas_container").html(loadingHTML).load(url);
      });
    });
  })
</script>
