<div class="row">
  <div class="col-md-3">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="/images/avatar.png" alt="User profile picture">
        <h3 class="profile-username text-center"><%= @pessoa.nome %></h3>
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Telefone <div class="pull-right"><%= @pessoa.telefone_residencial %></div></b>
          </li>
          <li class="list-group-item">
            <b>Celular <div class="pull-right"><%= @pessoa.celular %></div></b>
          </li>
          <li class="list-group-item">
            <b>Sexo <div class="pull-right"><%= @pessoa.sexo %></div></b>
          </li>
          <li class="list-group-item">
            <b>Estado Cívil <div class="pull-right"><%= @pessoa.estado_civil %></div></b>
          </li>
        </ul>
        <div class="row">
          <div class="col-md-4">
            <%= link_to pessoas_path, class: 'btn btn-success btn-block' do %>
            <b>Voltar</b>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to "Gerar PDF", 
                pessoa_path(@pessoa, :type_document => "pessoa", :format => "pdf"), 
                :class => 'btn btn-primary active', 
                :target => '_blank'%>
          </div>
          <div class="col-md-4">
            <%= link_to 'Editar', edit_pessoa_path, class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9">

    <div class="nav-tabs-custom">

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Outros dados</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <% if @pessoa.pessoa_id %>
          <div>Indicado por: <b><%= @pessoa.indicado%></b></div>
          <hr>
          <% end %>
          <div>Nome Social: <b><%= @pessoa.nome_social %></b></div>
          <div>Seguimento: <b><%= @pessoa.seguimento.try(:nome) %></b></div>
          <div>Profissão: <b><%= @pessoa.profissao.try(:nome) %></b></div>
          <div>Apoiador: <b><%= @pessoa.apoiador? %></b></div>
          <div>Pesquisado: <b><%= @pessoa.pesquisado? %></b></div>
          <div>Visitado: <b><%= @pessoa.visitado? %></b></div>
          <hr>
          <div>Endereço: <b><%= @pessoa.endereco %></b></div>
          <div>Estado: <b><%= @pessoa.estado.try(:nome) %></b></div>
          <div>Município: <b><%= @pessoa.municipio.try(:nome) %></b></div>
          <div>Cidade: <b><%= @pessoa.cidade.try(:nome) %></b></div>
          <div>Bairro: <b><%= @pessoa.bairro.try(:nome) %></b></div>
          <div>CEP: <b><%= @pessoa.cep %></b></div>
          <hr>
          <div>E-mail: <b><%= @pessoa.email %></b></div>
          <div>Facebook: <b><%= @pessoa.facebook %></b></div>
          <hr>
          <div>Data Nasc.: <b><%= data_mask(@pessoa.data_nascimento) %></b></div>
          <div>N. de Filhos: <b><%= @pessoa.numero_de_filhos %></b></div>
          <div>N. de Dependentes: <b><%= @pessoa.numero_de_dependentes %></b></div>
          <div>Renda Familiar: <b>R$ <%= @pessoa.renda_familiar %></b></div>
          <hr>
          <p>Observações</p>
          <%= @pessoa.observacoes %>
        </div>
      </div>

    </div>

  </div>
</div>
