<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @pessoa.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @pessoa.cidade %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @pessoa.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @pessoa.cep %>
</p>

<p>
  <strong>Telefone residencial:</strong>
  <%= @pessoa.telefone_residencial %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @pessoa.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa.email %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @pessoa.estado_civil %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @pessoa.sexo %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @pessoa.cor %>
</p>

<p>
  <strong>Renda familiar:</strong>
  <%= @pessoa.renda_familiar %>
</p>

<p>
  <strong>Numero de filhos:</strong>
  <%= @pessoa.numero_de_filhos %>
</p>

<p>
  <strong>Numero de dependentes:</strong>
  <%= @pessoa.numero_de_dependentes %>
</p>

<p>
  <strong>User:</strong>
  <%= @pessoa.user %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @pessoa.pessoa %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @pessoa.observacoes %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
