<%= form_with(model: seguimento, local: true) do |form| %>
  <% if seguimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seguimento.errors.count, "error") %> prohibited this seguimento from being saved:</h2>

      <ul>
      <% seguimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :seguimento_nome %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
