<div class="box-body">
  <%= form_with(model: profissao, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :nome, 'Profissão' %>
    <%= form.text_field :nome, id: :profissao_nome, placeholder: 'Profissão', class: 'form-control input-sm' %>
    <%= form.error_span(:nome) %>
  </div>

   <div class="box-footer">
   <%= form.submit 'Salavar Registro', class: 'btn btn-primary' %>
   <%= link_to 'Cancelar', profissoes_path, class: 'btn btn-danger' %>
  </div>
  <% end %>
</div>
